@model IEnumerable<BoatRentalApplication.Models.Booking>
<div class="col-lg-12 well">
    <table class="table">
        <tr>
            <th>Bokningsnummer</th>
            <th>Utlämnad</th>
            <th>Återlämnad</th>
            <th>Båtnamn</th>
            <th>Båtnummer</th>
            <th>Kategori</th>
            <th>Kund</th>
            <th></th>
        </tr>

        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Id</td>
                <td>@booking.RentalDate</td>
                @if (booking.ReturnDate < booking.RentalDate)
                {
                   <td>-----</td>
                }
                else { 
                <td>@booking.ReturnDate</td>
                }
                <td>@booking.Boat.Name</td>
                <td>@booking.Boat.Id</td>
                <td>@booking.Boat.Category.Type</td>
                <td>@booking.Customer.FirstName @booking.Customer.LastName</td>
                <td>
                    <form asp-action="Checkout" asp-route-BookingId="@booking.Id">
                        <input type="submit" value="Avsluta uthyrning" class="btn btn-primary pull-right" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
