@model IEnumerable<BoatRentalApplication.Models.Boat>

<div>
    <div class="col-lg-12 well">
        <h1 class="text-warning">Avgifter</h1>
        <table class="table">
            <tr>
                <th>Grundavgift</th>
                <th>Timpris</th>
            </tr>
            <tr>
                <td>200</td>
                <td>100</td>
            </tr>
        </table>
    </div>
    @* visar alla tillgängliga båtar *@
    @foreach (var Boat in Model)
    {
        <div class="col-md-4 col-lg-4 well">
            <h1>@Boat.Name</h1>
            <label>Båtnummer</label>
            <p>@Boat.Id</p>
            <label>Kategori</label>
            <p>@Boat.Category.Type</p>
            <label>Kostnad</label>
            <p>@Boat.Price</p>
            @* skickar vidare båtid samt kategoriid för vald båt till actionmetod *@
            <form asp-action="Reserve" asp-route-BoatId="@Boat.Id" asp-route-CategoryId="@Boat.Category.CategoryId">
                @* om båt redan är uthyrd går den inte att hyra *@
                @if (Boat.Available == false)
                {
                    <input value="Uthyrd" class="btn btn-danger pull-right"/>

                }
                else { 
                <input type="submit" value="Boka" class="btn btn-primary pull-right" />
                }
            </form>
        </div>
    }
</div>  